// COLORS
$dark-blue: #203A4C;
$grayish-dark-blue: #33323D;
$grayish-green: #5FB4A2;
$very-light-white:#FAFAFA;
$light-grey:#EAEAEB;


// FONTS
$text-style-public:"Public Sans" "Arial", sans-serif; 
$font-ibarra:"Ibarra Real Nova", "Arial", sans-serif; ;



