
.form__container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-wrap: nowrap;
  }
  
  .form__heading {
    width: 350px;
    margin-right: 125px;
    font-family: $font-ibarra;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: $grayish-dark-blue;;
  }
  
  .form__input {
    background-color:  #dddada;
    border: none;
    padding: 9px;
    opacity: 0.8;
    margin-bottom: 24px;
    height: 48px;
    width: 100%;
    resize: vertical;
  }
  
  .form__label {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    color: $grayish-dark-blue;;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 8px;
  }
  
  .submit__button {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $very-light-white;
    border: none;
    background-color: var(--dark-blue);
    padding: 17px 24px;
    cursor: pointer;
    @include transform-style;
  }
  
  .contact_textarea {
    width: 100%;
    height: 96px;
  }
  
  .submit__button:hover {
  opacity: 0.7;
  }

  @media only screen and (min-width: 689px) {
  
    .form__container {
      display: flex;
      flex-direction: column;
    }
    .submit__button {
        width: 200px;
      }

    .form__input {
    background-color:  #dddada;
    border: none;
    padding: 9px;
    opacity: 0.8;
    margin-bottom: 24px;
    width: 635px;
    }
}


@media only screen and (min-width: 1075px) {
    
    
    .contact-page__content {
        width: 635px;
      }
        
      .contact_textarea {
        resize: none;
        width: 100%;
        height: 96px;
      }
  
      .form__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 48px;
      }
  
      .form__heading {
        width: 350px;
        margin-right: 125px;
        margin-top: 0;
    }

}